torch
torchvision
torchaudio
ultralytics
opencv-python
onnxruntime-gpu
onnx
pydantic
fastapi
uvicorn
numpy
scipy
pillow
weaviate-client
librosa
soundfile
python-socketio[client]
pyvirtualcam
webrtcvad
pyaudio
face_recognition
psycopg2-binary